@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
section{
    background-image: url(../../assets/images/cover.jpg);
    background-size: cover;
}
h1{
    font-family: 'Roboto Condensed', sans-serif;
}
